<div class='log'>
    <h3>{{date}}</h3>
    <p class="proud">{{proudOf}}</p>
    <div class='log-habits'>
        <p>{{#if habits.exercise}}✅{{else}}❌{{/if}}</p>
        <p>{{#if habits.read}}✅{{else}}❌{{/if}}</p>
       <p>{{#if habits.clean}}✅{{else}}❌{{/if}}</p>
    </div>
    <p class="mood">{{mood}}</p>
</div>